<html>
    <head>
        <title>Audio & Vídeo</title>
    </head>
    <body>
        <header><h1>Aprendendo a adicionar vídeos e áudio no HTML</h1></header>
            <video src="video.mp4" width="400" controls></video> 
            <video src="video2.mkv" width="400" controls></video>
            <video src="video1.mkv" width="400" controls></video> 
            <video src="video3.mkv" width="400" controls></video>
        </section>
        <section>
            <audio src="musica.mp3" controls></audio>
        </section>
        <footer><b>Rodapé</b></footer>
    </body>
</html>